/* sidebar.module.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  background-color: #0a0a0a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  z-index: 40;
  box-sizing: border-box;
}

.logo {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.navList {
  list-style: none; /* Esto quita los puntitos */
  padding: 0;
  margin: 0;
}

.navItem {
  margin-bottom: 1.5rem;
  /* El color se lo daremos al enlace directamente */
}



.navAnchor {
  text-decoration: none; /* Adiós subrayado */
  color: #ffffff;        /* Hola blanco */
  text-transform: uppercase;
  letter-spacing: .25em;
  font-size: .875rem;
  transition: color .15s ease;
  display: inline-block; /* Necesario para el borde del activo */
}

/* Efecto Hover */
.navAnchor:hover {
  color: #942dad; /* Violeta al pasar el mouse */
}

/* Estado Activo (Para el HOME) */
.active {
  color: #942dad;
  border-bottom: 2px solid #942dad;
}

.footer {
  font-size: .75rem;
  color: #9ca3af;
}

.social {
  display: flex;
  gap: 1rem;
  font-size: 1.125rem;
  color: #ffffff;
}