
.heroContainer {

  min-height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 0 5% 0 5%; 
  background-color: #f5f5f5; 
  font-family: 'Arial', sans-serif;
  overflow: hidden; /* Evita que el círculo se salga de la pantalla */
}


.content {
 
  flex: 1; 
  max-width: 600px; /* No pasar este ancho */
  z-index: 2; /* Asegura que el texto quede por encima si se superponen */
}

.introText {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 15px;
}

.name {
  /* Ajusté un poco el tamaño para que no sea tan agresivo */
  font-size: 4rem; 
  font-weight: 900;
  line-height: 1;
  color: #000;
  margin: 0 0 20px 0;
}

.lastName {
  display: block;
  color: #5a008a; /* Usé un violeta oscuro para el apellido, ¡queda genial! */
}

.description {
  font-size: 1.2rem;
  color: #555;
  max-width: 400px; /* Que la descripción no sea eterna */
  line-height: 1.5;
}


.ctaButton {
  margin-top: 35px;
  background-color: #5a008a; /* Violeta */
  color: #fff;
  padding: 15px 40px;
  font-weight: bold;
  border: none;
  border-radius: 4px; /* Un pequeño redondeo en las esquinas */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(90, 0, 138, 0.3); /* Sombra violeta */
}

.ctaButton:hover {
  transform: translateY(-3px); /* Se levanta un poquito */
  background-color: #45006a; /* Violeta más oscuro al pasar el mouse */
  box-shadow: 0 6px 20px rgba(90, 0, 138, 0.4);
}

.contactInfo {
  margin-top: 60px;
  display: flex;
  gap: 30px;
  font-size: 0.7rem;
  color: #000;
  font-weight: 1000;
}

/* --- BLOQUE DERECHO: CÍRCULO --- */
.imageContainer {
  flex: 1; /* Toma el espacio derecho */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* height: 100%; Quitamos esto que estaba rompiendo el layout */
}

.heroCircle {
  /* TAMAÑO FIJO: Esto asegura que sea un círculo perfecto */
  width: 450px;
  height: 450px;
  background: linear-gradient(135deg, #5a008a 0%, #0a0a0a 100%);
  border-radius: 50%; 
  opacity: 0.9;
  z-index: 1;
}

.profileImage {
  position:absolute;
  bottom: 40px;
  height: 110%;
  width: auto;
  z-index: 2;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.5));
}

.socialBar {
  position: absolute;
  right: 50px;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.socialIcon{
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s, transform 0.3s;
}

.socialIcon:hover {
  color : #5a008a;
  transform: scale(1.2);
}

.socialLine {
  width: 2px;
  height: 100px;
  background-color: #ccc;
  margin-top: 10px;
}